<?xml version="1.0"?>
<launch>
    <!-- 参数 -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    
    <!-- 启动 Gazebo 仿真 -->
    <include file="$(find excavator_sim)/launch/gazebo.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- 等待 Gazebo 启动后加载控制器 -->
    <include file="$(find excavator_sim)/launch/control.launch"/>
</launch>